# Copia a .env y completa. Nunca commitees .env con claves reales.
OPENAI_API_KEY=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
OPENAI_BASE_URL=https://api.groq.com/openai/v1
MODEL=llama-3.3-70b-versatile

KEY_OPENAI=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
KEY_GROQ=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
KEY_DEEPSEEK=sk-b7c25db6cb124526bdf690cff759b0dc
KEY_NVIDIA=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
KEY_GEMINI=AIzaSyBoNVfzbDW5gKyXbYIYZjrvblQ2NpWxRrQ
KEY_OMNIROUTER=sk-da881b6d6748b125-ba6c22-33689af3